node_modules
index.js
curated/**/*
html/**/*
images/**/*
.DS_Store
**/.DS_Store
hcap/**/*
klesse/**/*
colfa/**/*
.env
events
cos/cos-problems-02.xlsx
.gitignore
cos/cos-problems.xlsx
faculty
spotlights
spotlights/**
cos/~$cos-spotlight-out.xlsx
.gitignore
acob/uploads/**
sections.log
acob/news*.json
acob/upload/**/*
acob/news/**/*
coehd/~*
