CAS_HOST = cascade hostname here
API_KEY = cascape api key here
CAS_PORT = 443

DB_HOST = mysql database hostname
DB_USER = mysql database user
DB_PASS = mysql database password
DB_NAME = mysql database name
